<div class="container">
  <div class="w-50 mx-auto">
    <%= simple_form_for(house) do |f| %>
      <%= f.input :photos, as: :file, input_html: {multiple: true} %>
      <%= f.input :domicilio %>
      <%= f.input :barrio %>
      <%= f.input :localidad %>
      <%= f.input :departamento %>
      <%= f.input :provincia %>
      <%= f.input :tipo %>
      <%= f.input :condicion %>
      <%= f.input :descripcion %>
      <%= f.input :foto %>
      <%= f.input :cochera %>
      <%= f.input :bano %>
      <%= f.input :dormitorio %>
      <%= f.input :supcubierta %>
      <%= f.input :suptotal %>
      <%= f.input :mascota %>
      <%= f.input :expensa %>
      <%= f.input :precio %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
