<h1>Todos las Propiedades</h1>


<div class="card m-5 " style="width: 18rem;">
  <% @houses.each do |house| %>
    <% house.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, crop: :fill %>
    <% end %>
    <div class="card-body ">
      <h5 class="card-title "> <%= house.departamento %> - <%= house.provincia %> </h5>
      <%= house.barrio %> - <%= house.domicilio %>
      <%= link_to "Ver", house_path(house.id), class:"btn btn-primary" %>

    </div>
    <%# <i class="fa-light fa-bed"></i>
    <i class="fa-thin fa-bed"></i>
    <i class="fa-thin fa-bath"></i> %>

    <i class="fa-solid fa-bath"></i>
    <i class="fa-solid fa-shower"></i>
  <% end %>
</div>

<%= link_to "Crear Nueva Propiedad", new_house_path %>
