<h1> <%= @house.domicilio %>  </h1>
<p><%= @house.foto %></p>
<p><%= @house.tipo %></p>
<p>Provincia: <%= @house.provincia %></p>
<p>Departamento: <%= @house.departamento %></p>
<p>Localidad: <%= @house.localidad %></p>
<p>Barrio: <%= @house.barrio %></p>
<p>Condición: <%= @house.condicion %></p>
<p>Descripción: <%= @house.descripcion %></p>
<p>Dormitorios: <%= @house.provincia %></p>
<p>Superficie Total: <%= @house.suptotal %></p>
<p>Superficie Cubierta: <%= @house.supcubierta %></p>

<p>Precio: <%= @house.precio %></p>

<%= link_to "Volver a todas las propiedades", houses_path %>
