<div style="background-color: rgb(220, 206, 189);">
  <h2 class="p-4 pt-5" style="text-align: center;">PROPIEDADES DESTACADAS</h2>
  <div class="mx-3">
    <div class="row justify-content-center">
      <% @houses.sample(12).each do |house| %>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
          <div class="card h-100" >
            <div id="carouselExampleControls<%= house.id %>" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <a href="<%= house_path(house.id) %>">
                  <% house.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                      <%= cl_image_tag photo.key, height: 200, crop: :fill, gravity: :center, class: "d-block w-100% mx-auto" %>
                    </div>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= house.domicilio %></h5>
              <p class="card-text"><%= house.departamento %> - <%= house.provincia %></p>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-4">
                  <i class="fa-solid fa-bed"></i> <%= house.dormitorio %>
                </div>
                <div class="col-4">
                  <i class="fa-solid fa-bath"></i> <%= house.bano %>
                </div>
                <div class="col-4">
                <% if  house.cochera == "sí" %>
                  <i class="fa-solid fa-car"> </i>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
