<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmizpueuw/image/upload/v1678295066/FARRAN%20PROPIEDADES/john-schnobrich-2FPjlAyMQTA-unsplash_fu1zbw.jpg);">
  <div class="container">
    <h1>FARRÁN PROPIEDADES</h1>
    <p>Operaciones Inmobiliarias</p>

    <div class="m-5">
      <%= form_with url: houses_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Buscá tu próxima propiedad"
        %>
        <%= submit_tag "Buscar", class: "btn btn-primary ms-1", style:"background-color: #951920; border-color: #951920;" %>
      <% end %>
    </div>

    <%= link_to "Todas las Propiedades", houses_path, class:"btn btn-warning p-2 mt-5"%>
  </div>
</div>

<%= render "pages/homeservicios" %>
<%= render "pages/homedestacados" %>


<div>
  <h2>CONTACTO</h2>
    <p>bla bla</p>
</div>
<div>
  <h2>Xxxxxxxxxxxxx</h2>
    <p>bla bla</p>
</div>
<div>
  <h2>Xxxxxxxxxxxxx</h2>
    <p>bla bla</p>
</div>
