<div class="home_banner">
  <div class="container">
    <h1>FARRÁN PROPIEDADES</h1>
    <p>Operaciones Inmobiliarias</p>

    <%= render "pages/formbuscador" %>

    <%= link_to "Ver todas las Propiedades", houses_path, class:"btn btn-warning p-3 mt-5"%>
  </div>
</div>


<%= render "pages/homeservicios" %>

<div>
  <h2>Xq Chelo</h2>
    <p>profesional, serio, sexy</p>
</div>

<%= render "pages/homedestacados" %>

<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-wrap="true" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('https://res.cloudinary.com/dmizpueuw/image/upload/v1680010540/FARRAN%20PROPIEDADES/roam-in-color-RryFk4n-vOs-unsplash_ieinoy.jpg', class:"d-block w-100 foto-tasacion") %>
    </div>
    <div class="carousel-item foto-tasacion">
      <%= image_tag('https://res.cloudinary.com/dmizpueuw/image/upload/v1680010541/FARRAN%20PROPIEDADES/sven-brandsma-7nBjGZVOfMw-unsplash_rrdent.jpg', class:"d-block w-100 foto-tasacion") %>
    </div>
    <div class="carousel-item foto-tasacion">
      <%= image_tag('https://res.cloudinary.com/dmizpueuw/image/upload/v1680010540/FARRAN%20PROPIEDADES/katja-rooke-77JACslA8G0-unsplash_wiry5r.jpg', class:"d-block w-100 foto-tasacion") %>
    </div>
  </div>
  <div class="carousel-text">
    <h1>¿Cuál es el valor de tu propiedad?</h1>
    <p>FARRÁN PROPIEDADES ofrece un servicio seguro y confiable de tasación de inmuebles.
  </div>
</div>



<div>
  <h2>CONTACTO</h2>
    <p>bla bla</p>
</div>
